.left-box::-webkit-scrollbar {
  display: none;
}

.chess-popover {
  --antd-arrow-background-color: #03071e;
  color: #fff;
  .ant-popover-inner {
    background: #03071e;
    padding: 0;
  }
}

.ellipsis {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.img-filter {
  filter: drop-shadow(#FFf 20px 0);
}
